{% extends "base.html" %} {% block title %}15 {% endblock %} {% block content
%}
<body>
  <div class="container">
    <h2 align="center">5 EMA screener</h2>
    <div class="row">
      <div class="col md-2">
        <form action="#" method="POST">
          <p>Date</p>
          <p>{{date0}}</p>
          <p><input type="text" name="date" id="date" class="form-control"/></p>
          <p><input type="submit" value="submit "/></p>
        </form>
        
      </div>
    
      <div class="col md-8">
        {% for table in tables %}
                  {{titles[loop.index]}}
                  {{ table|safe }}
        {% endfor %} 
      </div>
      
    </div>
    
  </div>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script>
  $( function() {
    var dateTypeVar = $('#date').datepicker();
    $.datepicker.formatDate('yy-mm-dd', dateTypeVar);
    // $( "#date" ).datepicker(dateFormat: 'YY-mm-dd' );
  } );
  </script>
</body>
{% endblock %}